/* Código CSS */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor
{
    width: 1200px;
    margin: 25px auto;

    background-color:lightgrey;
}

/************************************* header ************************************/
.contenedor header
{
    position: relative;
    
    /* height: 350px; */
    /* background-color: darkgoldenrod; */
}

.contenedor header .fila
{
    position: relative;

    height: 350px;
    background-color: blue;
}

/*********************************** main **************************************/
.contenedor main
{
    position: relative;
    
    /* height: 900px; */
    /* background-color: aquamarine; */
}

/********** fila1 **********/
.contenedor main .fila:nth-child(1)
{
    position: relative;
    
    height: 200px;
    background-color: rgb(137, 176, 163);
}

/********** fila2 **********/
.contenedor main .fila:nth-child(2)
{
    position: relative;
    
    height: 250px;
    background-color: rgb(185, 209, 200);
}

/********** fila3 **********/
.contenedor main .fila:nth-child(3)
{
    position: relative;
    
    height: 300px;
    background-color: rgb(137, 176, 163);
}

/*********************************** footer *********************************************/
.contenedor footer
{
    position: relative;
    
    /* height: 300px; */
    /* background-color: rgb(87, 84, 84); */
}

.contenedor footer .fila
{
    position: relative;
    
    height: 300px;
    background-color: rgb(87, 84, 84);
}